<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
    <% if @article.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@article.errors.count, "Error") %> Prohibited This Article From Being Saved:
        </h2>
        <ul>
            <%= @article.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <h1> Edit Article </h1>
    <%= render 'form' %>
    <%= link_to 'Back', articles_path %>
<% end %>