<%= form_for :article, url: articles_path do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@article.errors.count, "Error") %> Prohibited This Article From Being Saved: 
            </h2>  
            <ul> 
                <%= @article.errors.full_messages.each do |msg| %> 
                <li>
                    <%= msg %>
                </li>
                <% end %>
            </ul>
        </div>   
    <% end %>

<h1>New Post</h1>
    <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :text %> <br>
        <%= f.text_area :text %>
    </p>

    <p>
        <%= f.submit "Submit", disable_with: 'Submiting...' %>
    </p>

<% end %>

<%= link_to 'Back', articles_path %>