<h1 class="title">New Article</h1>

<%= form_for @article, builder: BulmaFormBuilder do |f| %>
  <%= f.form_error %>
  <div class="field">
    <%= f.label :title, class: 'label' %>
    <div class="control">
      <%= f.text_field :title, class: 'input' %>
    </div>
    <%= f.field_error :title %>
  </div>

  <div class="field">
    <%= f.label :text, class: 'label' %>
    <div class="control">
      <%= f.text_field :text, class: 'input' %>
      
    </div>
    <%= f.field_error :text %>
  </div>

  <%= f.submit class: "button is-primary" %>
  <%= link_to 'Back', articles_path, class: 'button is-primary' %>
<% end %>

