<nav class="navbar is-primary" role='navigation' aria-label="main navigation">
    <div id="navbarBasicExample" class='navbar-menu'>
    <div class="navbar-start">
        <%= link_to('Home', root_path, class: 'navbar-item') %>
        <%= link_to('Articles', figures_path, class: 'navbar-item') %>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <% if user_signed_in? %>
                    <div class='navbar-item has-dropdown is-hoverable'>
                            <a class="navbar-link">
                                <%= current_user.name %>
                            </a>
                        <div class="navbar-dropdown">
                            <%= link_to('Exit', logout_path, class: 'navbar-item') %>
                        </div>
                    </div>
                <% else %>
                    <%= link_to('Sign Up', signup_path, class: 'button is-primary') %>
                    <%= link_to('Log In', login_path, class: 'button is-light') %>
                <% end %>
            </div>
        </div>
    </div>
    </div>
</nav>