<nav class="navbar is-primary" role='navigation' aria-label="main navigation">
    <div id="navbarBasicExample" class='navbar-menu'>
    <div class="navbar-start m-0 p-0">
        
        <h2 class="navbar-item has-text-left has-text-weight-bold is-overlay is-size-4 p-0"><i class="navbar-item fas fa-poll-h fa-2x has-text-white p-0 m-0"></i>Blog App</h2>

        
        <%= link_to('Home', root_path, class: 'navbar-item is-size-4') %>
            
        <%= link_to('Articles', figures_path, class: 'navbar-item is-size-4') %>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <% if user_signed_in? %>
                    <div class='navbar-item has-dropdown is-hoverable'>
                            <a class="navbar-link is-size-4">
                                <%= current_user.name %>
                            </a>
                        <div class="navbar-dropdown">
                            <%= link_to('Exit', logout_path, class: 'navbar-item is-size-5') %>
                        </div>
                    </div>
                <% else %>
                    <%= link_to('Sign Up', signup_path, class: 'button is-primary is-size-5') %>
                    <%= link_to('Log In', login_path, class: 'button is-light is-size-5') %>
                <% end %>
            </div>
        </div>
    </div>
    </div>
</nav>